.piedepagina {
    background-color: #168aad;
    padding-block: 20px;
    margin-top: 30px;
    text-align: center;

    a  {
        color: $blanco;
    }
    p  {
        @extend a;
    }
}

@each $red, $color in $redes {
    i.fa-#{$red} {
        color: $color;
    }
}

 